# =============================================================================
# SLASHJOURNAL ENVIRONMENT TEMPLATE — SUPABASE & NEXT.JS
# =============================================================================

NEXT_PUBLIC_SUPABASE_URL="https://qhuieagivaxcccyrnwwc.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_NtbPdFRHUPFk99hDGxf2ZQ_hnGq_uxl"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_NtbPdFRHUPFk99hDGxf2ZQ_hnGq_uxl"
SUPABASE_SERVICE_ROLE_KEY="your_service_role_key_here"

# Session Mode Pooler (Port 5432 - untuk Prisma CLI / db push)
DIRECT_URL="postgresql://postgres.qhuieagivaxcccyrnwwc:[YOUR-PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres"

# Transaction Mode Pooler (Port 6543 - untuk Runtime Query)
DATABASE_URL="postgresql://postgres.qhuieagivaxcccyrnwwc:[YOUR-PASSWORD]@aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"

JWT_SECRET="your-super-secret-jwt-token-key-here"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
STORAGE_UPLOAD_DIR="./public/uploads"
NODE_ENV="development"
